<head>

	 <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.blue-amber.min.css" /> 
	 <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
	 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<body background="wallpaper.png">



	<div id="middle" style="width:50%; left:25%; top:15%; position:relative;">

		<form action="/addVideo/" method="post">
			{% csrf_token %}
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
		    <input class="mdl-textfield__input" type="text" id="search" name="search"/>
		    <label class="mdl-textfield__label" for="search">Search Video</label>
		  </div>
		</form>

		
		{% for x in context %}

		<div class="mdl-card mdl-shadow--4dp" style="width:100%; margin-top:8px;">

			<p>{{ x.0 }} </p>

		</div>

		{% endfor %}

	</div>

</body>